* {
    font-family: 'JetBrains Mono Nerd Font';
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 1);
    border-radius: 12px;
    color: #e0e0e0; 
}

tooltip {
	/* background: black; */
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #e0e0e0;
}

#workspaces {
    padding-right: 6.5px;
}

#workspaces button {
    /* padding: 10px; */
    padding-left: 11px;
    min-width: 0;
    color: #e0e0e0;
}

#workspaces button.active {
    color: #e0e0e0;
}

#workspaces button.urgent {
    color: lightgray;
}

#clock, #battery, #pulseaudio, #workspaces, #mpd, #language, #custom-pacman  {
    margin-top: 2px;
    margin-bottom: 2px;
}

#pulseaudio {
    margin-right: 12px;
}

#custom-pacman {
    margin-right: 13px;
}

#language {
    margin-right: 10px;
}

#network {
    margin-right: 6px;
}

#clock {
    margin-left: 12px;
}
